body { position: relative; } /* exists to stop autocreation of css file */

/* Sitewide Variables */

/* Colors */

$white:          #ffffff;
$off_white:      #e6e6e6;
$black:          #0b0b0b;
$off_black:      #252525;
$highlight:      #e87a37;
