body { position: relative; } /* exists to stop autocreation of css file */

/* Section Body Feature */

.section--body {
  background-color: $off_white;
  padding: ($gutter_width * 2) 0;

  @include respond(tLandscape) {
    padding: ($gutter_width * 4) 0;
  }
}

.lead {
  margin: 0 $gutter_width $gutter_width;
  text-transform: uppercase;
  font-weight: 300;
  color: $off_black;
  border: 1px solid;
  text-align: center;;
  padding: $gutter_width ($gutter_width * 2);

  font-size: 4rem;

  @include respond(hdDesktop) {
    font-size: 5rem;
  }

  strong {
    font-weight: 900;
  }
}

.description {
  margin: $gutter_width;
  padding: $gutter_width 0 ($gutter_width * 2);
  font-size: 2.5rem;
  border-bottom: 1px solid;
  text-align: center;
  color: $off_black;
  line-height: 4rem;
}
