body { position: relative; } /* exists to stop autocreation of css file */

/* Contact Section */

.section--header__contact {

  background: url('../images/backgrounds/mic-grill.jpg') center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
