body { position: relative; } /* exists to stop autocreation of css file */

/* Identity Section */

.section--header__main {

  background: url('../images/backgrounds/headphones.jpg') top center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  height: 105rem;

  .section--header__icon {
    margin-bottom: 4rem;
  }

}
