body { position: relative; } /* exists to stop autocreation of css file */

/* Services Section */

.section--header__services {

  background: url('../images/backgrounds/speaker.jpg') center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
